.img11{
    height: 500px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px ;
  
  }
  .bby{
    background-color: rgba(126, 129, 129, 0.289);
  }

  .sign{
    background-color: #ffffff;
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px;
  }
.inpu{
    border: none;
    padding: 5px;
    padding-right: 80px;
    background-color: rgba(0, 0, 0, 0.052);
}  
.google{
  width: 100px;

}
.btn-1{
  border: none;
  border-radius: 40px;
  background-color: #000000;
}